/* Custom CSS Digital Ocean Template */

/* Generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat;
}

/* Header */

header {
  padding: 15px 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 999;
  background-color: white;
}
#logo img {
  width: 175px;
  height: auto;
}
header div ul li {
  display: inline-block;
  margin-right: 15px;
}
.mid-menu {
  line-height: 35px;
  font-size: 12px;
  font-weight: normal;
  float: right;
}
.right-displ {
  text-align: right;
}
header ul li a {
  text-decoration: none;
  color: inherit;
}
header ul li a:link {
  text-decoration: none;
}
header ul li a:hover {
  color: #0087f5;
}
#button-blue {
  padding: 5px 10px;
  color: #0087f5;
  border: solid 1px #0087f5;
  border-radius: 4px;
}
#button-blue:hover {
  color: white;
  background-color: #0087f5;
  transition: all 0.2s ease-in-out;
}
.hamburger {
  display: none;
  font-size: 20px;
  margin-right: 10px;
  color: #0087f5;
}
.hamburger a {
  text-decoration: none;
}
.dropdown-menu a {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}
.dropdown-menu {
  text-align: center;
  left: -175%;
}
.onlymdxs {
  display: none;
}

/* Main */

/* Sezione Jumbotron */

#jumbotron {
  background-image: url("../img/jumbo.svg");
  background-size: cover;
  min-height: 450px;
  margin-top: 65px;
}
.butt-create-color {
  background-color: #0087f5;
}
.butt-google-color {
  background-color: white;
  color: grey;
}
.form-jumbo {
  background-color: white;
  border-radius: 5px;
}
.form-jumbo, .jumbo-left {
  margin: 50px 0;
  padding: 20px 20px 30px;
}
.form-jumbo .row > aside {
  width: 100%;
}
.jumbo-left {
  color: white;
}
.jumbo-title {
  font-weight: 900px;
  font-size: 40px;
  text-shadow: white 1px 1px 1px;
}
.jumbo-title-form {
  color: black;
  font-weight: 900px;
  text-align: center;
}
.jumbo-subtitle-form {
  font-weight: 900px;
  color: #0087f5;
  text-align: center;
  margin-top: 5px;
}
.form-group button {
  position: relative;
}
.form-group button img {
  position: absolute;
  left: 5%;
  top: 27%;
}
.terms-cond {
  margin-top: 10px;
  text-align: center;
}

/* Sezione Partners */

#partners {
  min-height: 200px;
  background-color: #f3f5f9;
  padding: 50px;
}
.title-partners {
  font-size: 12px;
  color: #647490;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}
.subtitle-partners {
  font-size: 12px;
  color: #0087f5;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
}
.box-img {
  text-align: center;
}
.subtitle-partners a {
  text-decoration: none;
  color: inherit;
}

/* Sezione Deploy */

#deploy {
  min-height: 300px;
}
.deploy-title {
  font-size: 22px;
  font-weight: 600;
  color: #031c4e;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.deploy-subtitle {
  font-size: 16px;
  color: #647490;
  text-align: center;
  margin-bottom: 30px;
  padding: 0 15px;
}
.grill-logo {
  text-align: left;
}
.grill-title {
  font-size: 16px;
  font-weight: 600;
  color: #031c4e;
}
.scaletta ul {
  list-style-type: none;
  padding-left: 10px;
  border-left: solid 1px lightgrey;
}
.scaletta ul li {
  margin: 20px 0;
}
.scaletta ul li a {
  text-decoration: none;
  color: inherit;
}
.grill-logo, .grill-title, .grill-par {
  margin: 10px 0;
}
.grill-par {
  padding-right: 25px;
}
.spacing-sx, .spacing-dx {
  margin-bottom: 40px;
}

/* Sezione Designed */

#designed {
  min-height: 300px;
  background-color: #f3f5f9;
}
.img-designed {
  text-align: center;
}
.img-designed img {
  width: 500px;
  height: auto;
}
.img-designed:after {
  content: ">";
  font-size: 40px;
  font-weight: 600;
  color: #031c4e;
  padding-left: 20px;
}
.img-designed:before {
  content: "<";
  font-size: 40px;
  font-weight: 600;
  color: #031c4e;
  padding-right: 20px;
}
.sub-image {
  text-align: center;
  font-size: 12px;
  color: #031c4e;
  margin-top: 10px;
}
.indicators {
  text-align: center;
  font-size: 10px;
  color: #0087f5;
  margin: 7px 0;
  margin-bottom: 40px;
}
.indicators a i {
  margin: 0 2px;
}
.indicators a {
  text-decoration: none;
  color: inherit;
}

/* Sezione Features */

#features {
  min-height: 300px;
}
.left-pl {
  text-align: left;
  margin-bottom: 40px;
}

/* Sezione Servers */

#servers {
  background: rgb(14,8,130);
  background: linear-gradient(0deg, rgba(14,8,130,1) 0%, rgba(0,43,153,1) 50%, rgba(0,43,153,1) 100%);
}
.servers-title {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 10px;
}
.srv {
  color: white;
  font-weight: 600;
  font-size: 11px;
  padding: 10px 15px;
}
.loc {
  color: lightgrey;
  font-weight: 600;
  font-size: 11px;
  padding: 10px 15px;
}
.test {
  color: cyan;
  font-weight: 600;
  font-size: 11px;
  padding: 10px 5px;
  padding-left: 300px;
}
.test a {
  text-decoration: none;
  color: inherit;
}
.servers-table table tr {
  border-bottom: solid 1px lightgrey;
}
.servers-table table tr:last-child {
  border: none;
}
.servers-table {
  margin-bottom: 50px;
}

/* Sezione Development */

#development {
  background-color: #f3f5f9;
}
.form-development {
  background-color: white;
  border-radius: 5px;
  padding: 50px 20px;
  margin-top: 40px;
}
.box-dev-img {
  text-align: center;
}
.box-dev-img img {
  width: 200px;
  height: auto;
}
.development-par {
  margin: 20px 0;
}
.development-sign {
  font-weight: 600;
  font-size: 12px;
  color: #031c4e;
  text-align: center;
}
.development-subsign {
  font-size: 12px;
  color: #031c4e;
  text-align: center;
}
.dev-arrow {
  font-size: 40px;
  font-weight: 600;
  color: #031c4e;
  line-height: 400px;
}
.left-arrow {
  text-align: right;
}

/* Sezione Getstarted */

#getstarted {
  min-height: 200px;
  background: rgb(14,8,130);
  background: linear-gradient(0deg, rgba(14,8,130,1) 0%, rgba(0,43,153,1) 50%, rgba(0,43,153,1) 100%);
}
.getstarted-title {
  font-size: 22px;
  color: white;
  text-align: center;
  margin: 50px 40px 20px 40px;
}
.getstarted-button {
  text-align: center;
  color: #0087f5;
  background-color: white;
  border-radius: 5px;
}
#getstarted a {
  text-decoration: none;
  padding: 10px;
  position: absolute;
  left: 43%;
}
#getstarted a:hover {
  background-color: #0087f5;
  color: white;
}

/* Footer */

/* Sezione Footer */

#footer-area {
  background-color: #021d4b;
}
.block-foot {
  margin-top: 30px;
}
.block-foot, .subtitle-foot {
  margin-bottom: 10px;
}
.title-foot {
  color: #8c97a9;
  font-size: 12px;
  margin-bottom: 2px;
}
.subtitle-foot {
  color: #576784;
  font-size: 12px;
}
.social-foot a i {
  font-size: 18px;
  color: #8c97a9;
  margin-right: 5px;
}
.footer-list {
  color: #a5adbc;
  list-style: none;
  margin-top: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.footer-list li a {
  text-decoration: none;
  color: inherit;
}
.footer-list li:first-child {
  color: white;
  margin-bottom: 10px;
  font-size: 12px;
}
.footer-list li {
  margin-bottom: 5px;
  font-size: 11px;
}
footer {
  position: relative;
}
.shark-lg {
  position: absolute;
  bottom: 10%;
  right: 5%;
  display: block;
}
.shark-md {
  position: absolute;
  bottom: 10%;
  left: 5%;
  display: none;
}
.shark-xs {
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: none;
}

/* Media Query Area */

/* MD Screens */

@media all and (max-width:1199px) and (min-width:992px) {
  .mid-menu > ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .servers-table table {
    width: 100%;
    text-align: center;
  }
  #getstarted a {
    left: 42%;
  }
  .footer-list {
    margin-bottom: 0;
  }
  #footer-area {
    padding-bottom: 30px;
  }
  .shark-md {
    display: block;
  }
  .shark-xs, .shark-lg {
    display: none;
  }
  .onlymdxs {
    display: block;
  }
}

/* XS Screens */

@media all and (max-width:991px) {
  .mid-menu > ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .jumbo-left {
    margin-bottom: 0;
  }
  .spacing-sx {
    margin-bottom: 0;
  }
  .img-designed:before, .img-designed:after {
    content: "";
  }
  .grill-logo, .grill-title, .grill-par {
    margin: 10px 0;
    padding-left: 30px;
  }
  .scaletta ul {
    margin-left: 20px;
  }
  .left-pl {
    padding-left: 30px;
  }
  .servers-table table {
    width: 100%;
    text-align: center;
  }
  .dev-arrow {
    display: none;
  }
  #getstarted a {
    left: 39%;
  }
  .footer-list {
    margin-bottom: 0;
  }
  #footer-area {
    padding-bottom: 30px;
  }
  .shark-xs {
    display: block;
  }
  .shark-md, .shark-lg {
    display: none;
  }
  .onlymdxs {
    display: block;
  }
}
